@page "/scrollline2d"


@inject FusionChartsService fusionChartsService
@using System.Net.Http;
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime
@inject HttpClient httpClient;
@inject NavigationManager navigationManager;
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<PageTitle>Line with scrolling only</PageTitle>

<h1>Line with scrolling only</h1>


<div id="chart-container2"></div>
@code {
    public async void demo()
    {
        dynamic myChartConfig = new System.Dynamic.ExpandoObject();
        dynamic myDataSource = new System.Dynamic.ExpandoObject();
        dynamic myChart = new System.Dynamic.ExpandoObject();
        dynamic myEvent = new System.Dynamic.ExpandoObject();


        myChartConfig.width = "100%";
        myChartConfig.height = "60%";

        myChartConfig.type = "scrollline2d";
        myChartConfig.width = "100%";
        myChartConfig.height = "60%";
        myChartConfig.dataFormat = "json";
        myChartConfig.renderAt = "chart-container2";

        myChart.caption = "Deaths reported because of mosquito bites in India";
        myChart.subcaption = "(As per government records)";
        myChart.showvalues = "0";
        myChart.numvisibleplot = "12";
        myChart.plottooltext =
        "<b>$dataValue</b> people died because of mosquito bites in $label";
        myChart.theme = "candy";

        myDataSource.categories = new[]
        {
            new
            {
            category = new[]
            {
            new{
            label= "1994"
        },
        new{
        label= "1995"
        },
        new{
        label= "1996"
        },
        new{
        label= "1997"
        },
        new{
        label= "1998"
        },
        new{
        label= "1999"
        },
        new{
        label= "2000"
        },
        new{
        label= "2001"
        },
        new{
        label= "2002"
        },
        new{
       label= "2003"
        },
        new{
        label= "2004"
        },
        new{
        label= "2005"
        },
        new{
        label= "2006"
        },
        new{
        label= "2007"
        },
        new{
        label= "2008"
        },
        new{
        label= "2009"
        },
        new{
        label= "2010"
        },
        new{
        label= "2011"
        },
        new{
        label= "2012"
        },
        new{
        label= "2013"
        },
        new{
        label= "2014"
        },
        new{
        label= "2015"
        },
        new{
        label= "2016"
        },
        new{
        label= "2017"
        },
        }
        }
    };

        myDataSource.dataset = new[]
        {
        new
        {
        data = new[]
        {
        new
        {
        value= "15622"
        },
        new{
        value= "10612"
        },
        new{
        value= "15820"
        },
        new{
        value= "26723"
        },
        new{
        value= "35415"
        },
        new{
        value= "25555"
        },
        new{
        value= "81803"
        },
        new{
        value= "47950"
        },
        new{
        value= "42396"
        },
        new{
        value= "19435"
        },
        new{
        value= "9780"
        },
        new{
        value= "23243"
        },
        new{
        value= "28619"
        },
        new{
        value= "8477"
        },
        new{
        value= "3503"
        },
        new{
        value= "14278"
        },
        new{
        value= "30522"
        },
        new{
        value= "61518"
        },
        new{
        value= "24819"
        },
        new{
        value= "16437"
        },
        new{
        value= "21171"
        },
        new{
        value= "1690"
        },
        new{
        value= "2418"
        },
        new{
        value= "11253"
        }

        }
        }
    };
        myDataSource.chart = myChart;
        myChartConfig.events = myEvent;
        myChartConfig.dataSource = myDataSource;

        String chartConfig2 = System.Text.Json.JsonSerializer.Serialize(myChartConfig);
        await fusionChartsService.renderChart(chartConfig2);




    }




    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            demo();
        }
        else
        {

        }
    }
}
<SurveyPrompt Title="How is Blazor working for you?" />