@page "/Parito3D"
@inject FusionChartsService xyz;
@using System.Net.Http
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<PageTitle>Parito3D</PageTitle>

<h3>PARITO IN 3D</h3>
<div id="demoID3"></div>

@code {
    public async void renderPareto3D()
    {
        // chart code
        dynamic myChartConfig = new System.Dynamic.ExpandoObject();
        dynamic myDataSource = new System.Dynamic.ExpandoObject();
        dynamic myChart = new System.Dynamic.ExpandoObject();
        dynamic myEvent = new System.Dynamic.ExpandoObject();
        myEvent.dataPlotClick = "function() { console.log('dataPlotClick')}";

        myChartConfig.type = "pareto3d";
        myChartConfig.width = 500;
        myChartConfig.height = 300;
        myChartConfig.dataFormat = "json";
        myChartConfig.renderAt = "demoID3";
        myChartConfig.id = "demo_id3";

        myChart.caption = "Late arrivals by reported cause";
        myChart.subCaption = "Last month";
        myChart.pyaxisname = "No. of Occurrence";
        myChart.showsecondarylimits = "0";
        myChart.theme = "candy";
        myChart.plottooltext = "Due to $label, late arrivals count is : <b>$dataValue</b> of the total <b>$sum</b> employees";

        myDataSource.data = new[] {
            new { label = "Traffic", value = "5680" },
            new { label = "Family Engagement", value = "1036" },
            new { label = "Public Transport", value = "950" },
            new { label = "Weather", value = "500" },
            new { label = "Emergency", value = "140" },
            new { label = "Others", value = "68" },

    };
        //myDataSource.chart = myChart;
        myChartConfig.events = myEvent;
        myChartConfig.dataSource = myDataSource;

        String chartConfig = System.Text.Json.JsonSerializer.Serialize(myChartConfig);
        await xyz.renderChart(chartConfig);
        //await xyz.CallFusionChartsFunction("setXMLData", "demo_id3", @"");

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            renderPareto3D();

        }
        else
        {

        }
    }
}
