@page "/SimpleColumn"

<h1>Simple Column 2D</h1>

<div id="Simple column"></div>


@inject FusionChartsService fusionChartsService;

@code {

    public async void SimpleColumnChart()
    {
        //chart code
        dynamic myChartConfig = new System.Dynamic.ExpandoObject();
        dynamic myDataSource = new System.Dynamic.ExpandoObject();
        dynamic myChart = new System.Dynamic.ExpandoObject();
        dynamic myEvent = new System.Dynamic.ExpandoObject();
        myEvent.rendered = "function() { console.log('rendered successful')}";


        myChartConfig.type = "column2D";
        myChartConfig.width = 600;
        myChartConfig.height = 300;
        myChartConfig.dataFormat = "json";
        myChartConfig.renderAt = "Simple column";


        myChart.caption = "Countries With Most Oil Reserves [2017-18]";
        myChart.subCaption = "In MMbbl = One Million barrels";
        myChart.xAxisName = "Country";
        myChart.yAxisName = "Reserves (MMbbl)";
        myChart.numbersuffix = "K";
        myChart.theme = "candy";
        myChart.exportEnabled = "1";

        myDataSource.data = new[] {
                new { label = "X0", value = "380000" },
                new { label = "X1", value = "-340000" },
                new { label = "X2", value = "740000" },
                new { label = "X3", value = "800000" },
                new { label = "X4", value = "400000" },
                new { label = "X5", value = "620000" },
                new { label = "X6", value = "870000" },
                new { label = "X7", value = "60000" },
                new { label = "X8", value = "-720000" },
                new { label = "X9", value = "10000" },
                new { label = "X10", value = "40000" }
    };
        myDataSource.chart = myChart;
        myChartConfig.events = myEvent;
        myChartConfig.dataSource = myDataSource;
        String chartConfig = System.Text.Json.JsonSerializer.Serialize(myChartConfig);
        await fusionChartsService.renderChart(chartConfig);

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            SimpleColumnChart();
        }
        else
        {

        }
    }




}
