@page "/StackedColumnsin3D_100"
@inject FusionChartsService fusionChartsService;
<h3>100% Stacked Column in 3D</h3>
<div id="chart-container1"></div>
@code {
    public async Task stackedColumnin3D()
    {
        dynamic myChartConfig = new System.Dynamic.ExpandoObject();
        dynamic myDataSource = new System.Dynamic.ExpandoObject();
        dynamic myChart = new System.Dynamic.ExpandoObject();
        dynamic myEvent = new System.Dynamic.ExpandoObject();
        myChartConfig.type = "scrollstackedcolumn2d";
        myChartConfig.width = "100%";
        myChartConfig.height = "100%";
        myChartConfig.dataFormat = "json";
        myChartConfig.renderAt = "chart-container1";
        myChart.caption = "Total Sales by Products";
        myChart.subCaption = "ACME Inc.";
        myChart.numberprefix = "$";
        myChart.numbersuffix = "M";
        myChart.showvalues = "0";
        myChart.showsum= "1";
        myChart.legendbgalpha = "0";
        myChart.stack100percent= "1";
        myChart.plottooltext = "Type: $label{br}<b>Location: $seriesName</b>{br}Sales: $dataValue</div>";
        myChart.theme = "candy";
        myDataSource.categories = new[]
        {
            new
            {
                category = new[]
                {
                    new{
          label= "Hardware"
        },
        new{
          label= "Software"
        },
        new{
          label= "Services"
        }
                }
            }
    };
        myDataSource.dataset = new[]
        {
            new
            {
                seriesname=  "West",
                data = new[]
                {
                    new{
          value= "4.5"
        },
        new{
          value= "2.8"
        },
        new{
          value= "5"
        }
                }
            },
            new
            {
                seriesname= "Central",
                data = new[]
                {
                   new {
          value= "6"
        },
        new{
          value= "3"
        },
        new{
          value= "1"
        }
                }
            },
            new
            {
                seriesname= "East",
                data = new[]
                {
                   new {
          value= "2.5"
        },
        new{
          value= "4.4"
        },
        new{
          value= "2"
        }
                }
            }
       };
        myDataSource.chart = myChart;
        myChartConfig.events = myEvent;
        myChartConfig.dataSource = myDataSource;
        String chartConfig = System.Text.Json.JsonSerializer.Serialize(myChartConfig);
        await fusionChartsService.renderChart(chartConfig);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await stackedColumnin3D();
        }
        else
        {
        }
    }
}