@page "/StackedColumnsin3D"
@inject FusionChartsService fusionChartsService;
<h3>Stacked Column in 3D</h3>
<div id="chart-container1"></div>

@code {
    public async void stackedColumnChart3D()
    {
        dynamic myChartConfig = new System.Dynamic.ExpandoObject();
        dynamic myDataSource = new System.Dynamic.ExpandoObject();
        dynamic myChart = new System.Dynamic.ExpandoObject();
        dynamic myEvent = new System.Dynamic.ExpandoObject();
        myEvent.dataPlotClick = "function() { console.log('dataPlotClick')}";


        myChartConfig.type = "stackedcolumn3d";
        myChartConfig.width = "100%";
        myChartConfig.height = "100%";
        myChartConfig.dataFormat = "json";
        myChartConfig.renderAt = "chart-container1";

        myChart.caption = "Deaths reported because of insect bites in India";
        myChart.subCaption = "(As per government records)";
        myChart.plottooltext = "<b>$dataValue</b> people died because of $seriesName in $label";
        myChart.theme = "candy";
        myChart.yaxisname = "Number of deaths reported";
        myChart.showsum = "0";

        myDataSource.categories = new[]
        {
                new
                {
                    category = new[]
                    {
                         new{
          label= "1994"
        },
        new{
          label= "1995"
        },
        new{
          label= "1996"
        },
        new{
          label= "1997"
        },
        new{
          label= "1998"
        },
        new{
          label= "1999"
        },
        new{
          label= "2000"
        },
        new{
          label= "2001"
        },
        new{
          label= "2002"
        },
        new{
          label= "2003"
        },
        new{
          label= "2004"
        },
        new{
          label= "2005"
        },
        new{
          label= "2006"
        },
        new{
          label= "2007"
        },
        new{
          label= "2008"
        },
        new{
          label= "2009"
        },
        new{
          label= "2010"
        },
        new{
          label= "2011"
        },
        new{
          label= "2012"
        },
        new{
          label= "2013"
        },
        new{
          label= "2014"
        },
        new{
          label= "2015"
        },
        new{
          label= "2016"
        },
        new{
          label= "2017"
        }
                    }
                }




       };



        myDataSource.dataset = new[]
        {
                new
                {
                    seriesname= "Hymenoptera",
                    data = new[]
                    {
                        new{
          value= "15622"
        },
        new{
          value= "10612"
        },
        new{
          value= "15820"
        },
        new{
          value= "26723"
        },
        new{
          value= "35415"
        },
        new{
          value= "25555"
        },
        new{
          value= "81803"
        },
        new{
          value= "47950"
        },
        new{
          value= "42396"
        },
        new{
          value= "19435"
        },
        new{
          value= "9780"
        },
        new{
          value= "23243"
        },
        new{
          value= "28619"
        },
        new{
          value= "8477"
        },
        new{
          value= "3503"
        },
        new{
          value= "14278"
        },
        new{
          value= "30522"
        },
        new{
          value= "61518"
        },
        new{
          value= "24819"
        },
        new{
          value= "16437"
        },
        new{
          value= "21171"
        },
        new{
          value= "1690"
        },
        new{
          value= "2418"
        },
        new{
          value= "11253"
        }
                    }
               },


                new
                {
                    seriesname= "Diptera",
                    data = new[]
                    {
                        new{
          value= "3622"
        },
        new{
          value= "2612"
        },
        new{
          value= "5820"
        },
        new{
          value= "6723"
        },
        new{
          value= "5415"
        },
        new{
          value= "5555"
        },
        new{
          value= "1803"
        },
        new{
          value= "7950"
        },
        new{
          value= "2396"
        },
        new{
          value= "9435"
        },
        new{
          value= "2780"
        },
        new{
          value= "3243"
        },
        new{
          value= "8619"
        },
        new{
          value= "1477"
        },
        new{
          value= "1503"
        },
        new{
          value= "4278"
        },
        new{
          value= "9522"
        },
        new{
          value= "2518"
        },
        new{
          value= "4819"
        },
        new{
          value= "6437"
        },
        new{
          value= "6171"
        },
        new{
          value= "2690"
        },
        new{
          value= "1418"
        },
        new{
          value= "1253"
        }
                    }
                },
       };


        myDataSource.chart = myChart;
        myChartConfig.events = myEvent;
        myChartConfig.dataSource = myDataSource;


        String chartConfig = System.Text.Json.JsonSerializer.Serialize(myChartConfig);
        await fusionChartsService.renderChart(chartConfig);


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            stackedColumnChart3D();
        }
        else
        {

        }
    }
}
