<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FusionCharts Demo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pie2d" >
                <span class="oi oi-list-rich" aria-hidden="true"></span>Pie 2D
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pie3d">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pie 3D
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multilevelpie">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Multilevel Pie 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doughnut2d">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Doughnut 2D
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doughnut3d">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Doughnut 3D
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiaxisline" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Line with multiple axes and series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scrollline2d" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Line with scrolling only
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zoomline" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Line with zooming & panning
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="msline" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Line with Multiple Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="line" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple Line
            </NavLink>
        </div>
    <div class="nav-item px-3">
            <NavLink class="nav-link" href="area2d" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple Area
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="msarea" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Area with multiple series

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scrollarea2d" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Area with scrolling
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spline" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple Spline
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="msspline" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Spline with multiple series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="splinearea" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple spline-area
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mssplinearea" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Spline-area with multiple series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="msstepline" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Step-line
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SimpleParito" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Simple Pareto
            </NavLink>
        </div> <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Parito3D" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pareto 3D
            </NavLink>
        </div> <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ParitoDualAxis" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pareto Dual Axis
            </NavLink>
        </div> <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RatingMeter" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Rating Meter
            </NavLink>
        </div> <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SelectScatter" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Select Scatter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/StackedColumn" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Stacked Column Chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StackedColumnChartwithScrolling" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Stacked Column(scroll)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="100%StackedColumnChart" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Stacked Column 100%
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GroupedStackedchart" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Grouped Stacked Chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StackedColumnswithNegativeValues" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>StackedColumn Neg
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StackedColumnsin3D" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>StackedColumn in 3D
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StackedColumnsin3D_100" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>StackedColumn(3D 100%)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StackedBars" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Stacked Bars
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StackedBars3D" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>StackedBars(3D)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StackedArea" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Stacked Area
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StackedBarswithScrolling" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>StackedBar(scroll)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GroupedStackedchartwithScrolling" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>GroupedStacked(scroll)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simplechord">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Chord Chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simplesankey">
                <span class="oi oi-sun" aria-hidden="true"></span>Sankey Chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simplewaterfall">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>WaterFall Chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="funnel">
                <span class="oi oi-beaker" aria-hidden="false"></span>Funnel in 3D
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simpleradar">
                <span class="oi oi-signpost" aria-hidden="false"></span>Radar
            </NavLink>
        </div>
        @*viraj pages*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SimpleColumn">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SimpleColumn
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GroupedColumnWithMultipleseries">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GroupedColumnWithMultipleseries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GroupedColumnWithScrolling">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GroupedColumnWithScrolling
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SimpleBar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SimpleBar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GroupedBarWithMultipleSeries">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GroupedBarWithMultipleSeries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ColumnIn3D">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ColumnIn3D
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GroupedColumnIn3DWithMultipleSeries">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GroupedColumnIn3DWithMultipleSeries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BarIn3D">
                <span class="oi oi-list-rich" aria-hidden="true"></span> BarIn3D
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GroupedBarIn3DWithMultipleSeries">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GroupedBarIn3DWithMultipleSeries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BarChartWithCustomLabelsAsAnnotations">
                <span class="oi oi-list-rich" aria-hidden="true"></span> BarChartWithCustomLabelsAsAnnotations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OverlappingColumns">
                <span class="oi oi-list-rich" aria-hidden="true"></span> OverlappingColumns
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OverlappingBars">
                <span class="oi oi-list-rich" aria-hidden="true"></span> OverlappingBars
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GroupedBarWithScrolling">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GroupedBarWithScrolling
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=" GanttChart">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  GanttChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=" RealTimeLine">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  RealTimeLine
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dragablecharts">
                <span class="oi oi-project" aria-hidden="false"></span>Events for Dragable chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zoomlinecharts">
                <span class="oi oi-project" aria-hidden="false"></span>Events for Zoom Line chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maprelatedevents">
                <span class="oi oi-project" aria-hidden="false"></span>Map Related Events
            </NavLink>
        </div>
       @* Akshay*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simplepyramid">
                <span class="oi oi-project" aria-hidden="false"></span>Simple Pyramid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spline">
                <span class="oi oi-project" aria-hidden="false"></span>Spline Charts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dragablecharts">
                <span class="oi oi-project" aria-hidden="false"></span> Dragable chart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zoomlinecharts">
                <span class="oi oi-project" aria-hidden="false"></span> Zoom Line chart
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maprelatedevents">
                <span class="oi oi-project" aria-hidden="false"></span>Map chart
            </NavLink>
        </div>
       @* satwika*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AveragePopulationGrowth">
                <span class="oi oi-signpost" aria-hidden="true"></span>Average Population Growth

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="avgTempOfUS">
                <span class="oi oi-signpost" aria-hidden="true"></span>Average Temprature Of US

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="salesofcigerretes">
                <span class="oi oi-signpost" aria-hidden="true"></span>Sales of Cigerretes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="greenhouseGasEmissions">
                <span class="oi oi-signpost" aria-hidden="true"></span>Green House Gas Emission
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timeseries">
                <span class="oi oi-signpost" aria-hidden="true"></span>Time-Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
